@import 'https://fonts.googleapis.com/css?family=Nunito Sans';
/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 8px 5px #d6cece;
    margin-bottom: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:5px;
    font-family: 'Nunito Sans';
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    border-radius: 10vh;
    color: black;

  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    border-radius: 10vh;
    background-color: #e00c0c;
    color: white;
    font-weight: 700;
  }

  .content{
      float: right;
  }

  /* Add a background color */
  body{
      background-color:rgb(255, 255, 255);
  }
  .placement_banner{
    background-color: rgb(241, 238, 238);
    padding:10px ;
    border-radius: 10px;

}

.placement_banner img{
    padding: 10px;
    border-radius: 20px;
}
.sidebar {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0;
    background-color:rgb(241, 238, 238);;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color:red;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    margin: 8rem auto;
    float: right;
    display: block;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  
  
  
  .form-group h2{
      text-align: jutify; 
      margin-right:555px;
      font-family: 'Nunito Sans';
  
  
  }
  .form-group p{
      text-align: jutify; 
      margin-right:555px;
      font-family: 'Nunito Sans';
  
  }
  .form-group li{
      text-align: jutify; 
      margin-right:555px;
      font-family: 'Nunito Sans';
  
  }
  