/*typing written*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}


.navbar img {
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;

}



.nav-items {

  
    min-height: 50%;
    display: flex;
    justify-content: left; */
  /*  background-color: rgb(2, 12, 2);*/
/* }
.wrapper{
    display: flex;
}

.wrapper .static-txt{
 
    color: white;
    font-size: 30px;
    font-weight: 400;

}

.wrapper .dynamic-txts{
 
    margin-left: 15px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}


.dynamic-txts li {
    list-style: none;
    color: red;
    font-size: 30px;
    font-weight: 500;
    top:0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide{
    100%{
        top: -150px;
    }
}

.dynamic-txts li{
  position: relative;
}
.dynamic-txts li::after{
    content: "";
    left: 0;
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left-width: 100px;
    animation: typing 3s steps(30) infinite;
}

@keyframes typing{
    40%,
    60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
} */
/*navbar*/

/* .navbar{
    padding: 10px;
    border: 2px solid black;
    
    width: auto;
   
    background-color: black;
}



.navbar .nav-items{
    float: right;
    margin-top: 0 ;
    padding-left: 3rem;
    
}

.navbar .nav-first{
  text-decoration: none;
  border-radius: 1vh;
    background-color: red;
    margin-top: 14px;
}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    
  
    
}


.navbar a:visited{
    color: white;
    
    
}
a:link{
    color: white;
    text-decoration:none ;
}
a:hover{
        
        border-bottom: 1px solid white;
    }

.navbar::after{
    content: '';
    display: block;
    clear: both;

   
} */


*{
    margin: 0;
    padding: 0;
}
.lolo{
    background: url("/static/img/registration-gd0acef5ce_640.jpg");
    /* background-size: 100%; */
    /* background-position: 0px 0px;  */
    height: 97vh;
    position: relative;
    background-position: center;
     background-size: cover; 
    background-repeat: no-repeat;
}
div.main{
    width: 400px;
    margin: 0px auto 0px auto;
    padding-top: 50px;
}
H1{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0,5);
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow:2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;

}

form#register{
    margin: 40px;
}

input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    color: black;
}
#mobile{
    width: 225px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    color: black;
}
input#submit{
    margin-left: 20%;
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

H1{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
#sts{
    
    width: 155px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px;
    background-color: #fff;
    border:none;
} 
#state{
    width: 155px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px;
    background-color: #fff;
    border:none;
} 

#course{
    width: 155px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px;
    background-color: #fff;
    border:none;
} 

#spec{
    width: 155px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px;
    background-color: #fff;
    border:none;
} 
#mode{
  
    width: 315px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px;
    background-color: #fff;
    border:none;
}
#date{
   
    width: 140px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px;
    background-color: #fff;
}
#Time{
  
    width: 155px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    background-color: #fff;
}


.pop{
    margin:0px 90px 0px 70px;
}

.flex-container {
  
    display: flex;
   
  }
  
  .flex-container{
    background-color: DodgerBlue;
    color: black;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
  }
  .fle{
  padding-left:2px;
  background-color: white;
  width: 40%;
  }
  .flei{
      margin-top: 25px;
       width: 5%;
  
  background-color: DodgerBlue;
  }

#Submit{
    margin-top: 40px;
    margin-left: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
   
}


  .column {
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    float: left;
    width: 19%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #phone{
    width: 70px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
    color: black;
  }