*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}
body{
    background-color: antiquewhite;
}
.first-img{
    padding-top: 34px;
    text-align: center;
    
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .lol{
      margin: 70px;
  }
  h1{
      text-align: center;
  }