@import 'https://fonts.googleapis.com/css?family=Poppins';
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Poppins:wght@400;500;600&display=swap');
/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    background-color: #000;
    overflow: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 8px 5px #d6cece;
    margin-bottom: 20px;
    width: 100%;
    z-index: 100;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:5px;
    font-family: 'Poppins';
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
    color: black;

  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    border-radius: 1vh;
    background-color: #e00c0c;
    color: white;
    font-weight: 700;
  }
  .topnav a.active:hover{
      background-color: #d6cece;
      color: black;
  }

  .content{
      float: right;
  }

  .content .logo{
      position: relative;
      right: 500px;
      
      background-color: rgb(255, 255, 255);
      border-radius: 1vh;
      
      
      
  }

  /* Add a background color */
  body{
      background-color:rgb(255, 255, 255);
  }

  /* Update section customization */

  .notify_banner{
    
    background-image: linear-gradient(to right top, #f6425c, #f8475a, #fa4b58, #fc5056, #fe5454);
      padding : 10px ;
      border-radius: 10px;

  }

  .notify_banner h3{
    margin-top: 150px ;
    margin-bottom: 30px;
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    
}

/*.notify_banner h3 span{
    padding: 14px 14px;
     background-color: #e00c0c;
     border-radius: 10vh;
}*/



/*poornima at a glance*/
.glance_college{
    margin-top: 10px;
    background-color: rgb(241, 238, 238);
    padding:10px ;
    border-radius: 10px;
}


.glance_college h3{
    
    font-family: 'Poppins';
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 500;
    text-align: center;
    font-size: 50px;
    
}





.slide {
    margin-bottom: 30px;
    position: relative;
  }
  .slide .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #D31027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
  }
  .slider-card {
    
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 20px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    
    
  }
  .slider-card img {
      
    position: relative;
    bottom: 2px;
    width: 700px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid rgba(255, 32, 32, 0.25);
    
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #f44336 !important;
  }















/*.slider .owl-item.active.center .slider-card{
    transform: scale(1.15);
    opacity: 1;
    background: #fc4a1a;  /* fallback for old browsers 
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
color: white;
}  */



.notify_banner img{
    padding: 10px;
    border-radius: 20px;
}


/*Institutes*/

.institutes{
    margin-top: 10px;
    background-image: linear-gradient(to right top, #f6425c, #f8475a, #fa4b58, #fc5056, #fe5454);
    padding:10px ;
    border-radius: 10px;
}

/*.institutes h3 span{
    padding: 14px 14px;
     background-color: #e00c0c;
     border-radius: 10vh;
}*/


.institutes h3{
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.institutes h4{
    font-family: 'Poppins';
    text-align: center;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px;
    overflow: auto;
    font-size: large;
}

.container
{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
 .container .card
 {
     position: relative;
     width: 600px;
     height: 600px;
     background: rgba(255, 255, 255, 0.05);
     margin: 20px;
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.02);
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     backdrop-filter: blur(0.5px);
 }

.container .card .content1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;

}

.container .card:hover .content1
{
    opacity: 1;
    transform: translateY(-20px);

}

.container .card .content1 .imgBx{
    position: relative;
    bottom: 5px;
    width: 580px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid rgba(255, 32, 32, 0.25);
}
.container .card .content1 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content1 .contentBx h5{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

} 
.container .card .content1 .contentBx h5 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci{
    position: relative;
    bottom: 20px;
    display: flex;
}

.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s*var(--i));
}
.container .card:hover .sci li{
    transform: translateY(10px);
    opacity: 1;
}
.container .card .sci li a{
    color: white;
    font-size: 24px;
}
/*Recruiter*/



.recruiter{
    margin-top: 10px;
    background-color: rgb(241, 238, 238);
    padding:10px ;
    border-radius: 10px;
}

.recruiter h3{
    font-family: 'Poppins';
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 500;
    padding: 0px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}


/*Faculty*/.faculty{
    margin-top: 10px;
    background-image: linear-gradient(to right top, #f6425c, #f8475a, #fa4b58, #fc5056, #fe5454);
    padding:10px ;
    border-radius: 10px;
}
 .faculty h3{
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    
} .faculty h4{
    font-family: 'Poppins';
    text-align: center;
    font-weight: 500;
    padding: 10px;
    overflow: auto;
    font-size: large;
    color: white;
    letter-spacing: 2px;
}
 .butt{
    margin-top: 40px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    min-height: 1vh;
    align-items: center;
    flex-direction: column;
    
}
 .butt a{
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    transition: 1s;
    overflow: hidden;
    text-decoration: none;
    border-radius: 10vh;
    
} .butt a:hover{
background: var(--clr);
box-shadow: 0 0 10px var(--clr),
0 0 30px var(--clr),
0 0 60px var(--clr),
0 0 100px var(--clr);
} .butt a span{
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    letter-spacing: 4px;
} .butt a span:hover{
    color: rgba(255, 255, 255, 0.5);
}


/*Life At PGC*/


.life_pgc{
    margin-top: 10px;
    background-color: rgb(241, 238, 238);
    padding:10px ;
    border-radius: 10px;
}

.life_pgc h3{
    font-family: 'Poppins';
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: 500;
    padding: 0px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}


/*Review*/


.Review{
    margin-top: 10px;
    background-image: linear-gradient(to right top, #f6425c, #f8475a, #fa4b58, #fc5056, #fe5454);
    padding:10px ;
    border-radius: 10px;
}

.Review h3{
    font-family: 'Poppins';
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0px;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}